.header {
  grid-row: 1;
  color: white;
  background: hsl(var(--hue), var(--saturation), var(--lightness));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

/* .nav-bar {
  
  
} */

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 1em;
}

.current {
  border-bottom: white 1px solid;
}

.logo {
  font-weight: bold;
  font-size: large;
}