.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3em;
}

fieldset {

   margin-bottom: 1em;
}

.login-button {
    margin-right: 1em;
}